<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Users</title>
</head>
<body>
<h1>Users</h1>

<div th:if="${#lists.size(users) == 1}">
    <form method="post" th:action="@{/users/{userId}(userId=${user.userId})}">
        <div>
            Username: <input th:field="${user.username}" type="text"/>
        </div>
        <div>
            Password: <input th:field="${user.password}" type="password"/>
        </div>
        <div>
            Full Name: <input th:field="${user.name}" type="text"/>
        </div>
        <hr/>
        <div>
            Address Line 1: <input th:field="${user.address.addressLine1}" type="text"/>
        </div>
        <div>
            Address Line 2: <input th:field="${user.address.addressLine2}" type="text"/>
        </div>
        <div>
            City: <input th:field="${user.address.city}" type="text"/>
        </div>
        <div>
            Region: <input th:field="${user.address.region}" type="text"/>
        </div>
        <div>
            Country: <input th:field="${user.address.country}" type="text"/>
        </div>
        <div>
            Zip Code: <input th:field="${user.address.zipCode}" type="text"/>
        </div>
        <div>
            <input type="submit" value="Update User Account"/>
        </div>
    </form>
    <form method="post" th:action="@{/users/{userId}/delete(userId=${user.userId})}">
        <input type="submit" value="Delete User Account"/>
    </form>
    <form method="post" th:action="@{/users/{userId}/accounts(userId=${user.userId})}">
        <div>
            <h2>Accounts</h2>
        </div>
        <div th:each="account : ${user.accounts}">
            <a th:href="@{'/users/' + ${user.userId} + '/accounts/' + ${account.accountId}}">
                <span th:text="${account.accountName}"></span>
            </a>
        </div>
        <div>
            <input type="submit" value="Create New Bank Account"/>
        </div>
    </form>
    <hr/>
    <div>
        <a th:href="@{/users}">Back</a>
    </div>
</div>
<div>
    <div th:each="user : ${users}" th:unless="${#lists.size(users) == 1}">
        <a th:href="@{'/users/' + ${user.userId}}" th:text="${user.userId}"></a><br/>
        <span th:text="${user.username}"></span><br/>
        <span th:text="${user.name}"></span><br/>
        <span th:text="${user.password}"></span>
        <div th:each="account : ${user.accounts}">
            <a th:href="@{'/users/' + ${user.userId} + '/accounts/' + ${account.accountId}}"
               th:text="${account.accountName}"></a>
        </div>
        <hr/>
    </div>
    <div>
        <a th:href="@{/register/}">Register New User</a>
    </div>
</div>

</body>
</html>